<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <uses-feature android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".SafeStepsApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.SafeSteps"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="your_key" />

        <activity
            android:name=".CaregiverNavigationActivity"
            android:exported="false"
            android:label="@string/title_activity_caregiver_navigation" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".CaregiverRegisterActivity" />
        <activity android:name=".CaredRegisterActivity" />
        <activity android:name=".CaredDetailActivity" />
        <activity android:name=".CaregiverMapsActivity" />
        <activity android:name=".CaredMapsActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".UserTypeSelectionActivity" />
        <activity android:name=".CaregiverHomeActivity" />
        <activity android:name=".CaredHomeActivity" />
        <activity android:name=".CaregiverProfileActivity" />
        <activity android:name=".CaregiverStreamActivity" />
        <activity android:name=".NavigationHistoryActivity" />
        <activity android:name=".LocationHistory" />

        <service
            android:name=".services.LocationService"
            android:foregroundServiceType="location" />

        <service
            android:name=".services.FCMService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <!-- Receiver para reiniciar o serviço após reboot -->
        <receiver
            android:name=".services.BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".services.SilenceAlarmReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="ACTION_SILENCE_ALARM" />
            </intent-filter>
        </receiver>

    </application>

</manifest>